body{
    font-family: 'Montserrat', sans-serif;
    background: #f5f6fa;
}
.logo1{
    width: 81px;
    height: 41px;
    object-fit: contain;
    left: 70%;
    top: 20%;
    position: relative;
}
.bottom{
    position: fixed;
    width: 100%;
    left: 0%;
    top: 90%;
    height: 70px;
    background-color: #ffffff;
}
.heading {
    margin-top: 50px;
    font-family: Muli;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #3e3e3c;
}
.logo{
    width: 40%;
    display: block;
    margin: auto;
}
.content p{
    margin-bottom: 50px;
    font-family: Muli;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.button {
    margin-bottom: 20px;
    margin-left: 200px;
}
a{
    text-decoration: none;
}   
.box {
    width: 560px;
    min-height: 460px;
    margin: auto;
    box-shadow: 0px 7px 18px 0 #a8b7c7;
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.list-but ul li {
    text-align: center;
    font-family: Muli;
    line-height: 39px;
    list-style: none;
    display: inline-block;
    width: 39px;
    height: 39px;
    border-radius: 4.6px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}
.button a {
    background-color: #4a4a4a;
    border-radius: 4px;
    color: #fff;
    padding: 15px 35px;
    font-size: 14px;
    border: 1px solid #4a4a4a;
    transition: all 0.3s ease-in-out;
}
.main .box {
    width: 482px;
    height: 500px;
}
.unlike{
    float: left;
    font-size: 12px;
    font-family: Muli;
}
.done{
    border: 1px solid black;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    padding: 7px 25px;
    border-radius: 4px 4px 4px 4px; 
    font-family: muli;
    margin: 5px;
    color: #111;
}   
.like{
    float: right;
    font-size: 12px;
    font-family: Muli;
}
.box{
    text-align: left;
}
.block .list-opt ul li{
    list-style: none;
    border: 1px solid #ccc;
    font-family: muli;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    width: 320px;
    padding: 5px;
    margin: 5px;
}
textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
}
.submit{
    border: 1px solid black;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    padding: 7px 25px;
    border-radius: 4px 4px 4px 4px; 
    font-family: muli;
    margin: 5px;
    color: #111;
}
ul{
    padding-left: 0px;
}

@media screen and (max-width: 600px) {
    .box {
        width: auto;
        box-shadow: none;
        padding: 20px;
        background-color: transparent;    
    }
    textarea {
        border: 1px solid grey;
    }
    .main .box {
        width: 250px;
        height: 500px;
    }  
    .unlike, .like{
        font-size: 8px;
    }
    .block .list-opt ul li{
        width: 300px;
    }
    .submit{
        border: 1px solid black;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
        padding: 7px 25px;
        border-radius: 4px 4px 4px 4px; 
        font-family: muli;
        margin: 5px;
        color: #111;
    }
    .list-but ul li {
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        list-style: none;
        width: 18px;
        height: 18px;
    }
    .button {
        margin-left: 100px;
    }
      
}